@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@font-face {
    font-family: lOGO;
    src: url(Howell\ Rode.ttf);
  }

body{
    width: 100%;

    margin: 0;
    
}

.main-login{
    width: 100%;
    height: 100vh;
    background: #02377e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login{

    width: 100vw;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0pt;

    
}

.left-login >h1{
    color: goldenrod;
    font-family: LOGO;
    font-size: 180pt;
    font-weight: 20;
    align-items: center;
    margin: 0;

}

.left-login >ul{
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 100pt;
    border: none;
    margin: 0;
}

.left-login >p{
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 50pt;
    margin: 0;

}

.left-login-imagem{
    justify-content: first baseline;
    width: 40vw;
    height: 25vh;
    

}

.right-login{
    width: 25vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    width: 120%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 3px 5px 20px #b4912f ;
    
}

.card-login >h1{
    color: #b4912f ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-weight: 900;
    top: -60px;


}


.btn-login{
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 1500pt;
    letter-spacing: 4px;
    color: #b4912f;
    box-shadow: 0px 10px 4px 2px  black;
    cursor: pointer;
    background: #0F0F0F;
}


.Wrapper{
    width: 300px;
    height: 100px;
    position: relative;
    padding: 20px;
    padding-left: 5px;

    

}

.Wrapper input{
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    border: 15px solid #0F0F0F ;
    border-radius: 9px;
    padding-left: 100px;
    color: white;
    letter-spacing: 2pt;
    padding: 2px;
    box-shadow: 0px 4px 2px 0px  black;
    font-weight: 10;


}

label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all .8s ease;
    font-size: 15px;
    pointer-events: none;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.45pt;
    

}

input:focus + label,
input:valid + label{
    font-size: 10px;
    top:0;
    background-color: none;
    padding: 2px;
    
}